@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow: hidden;
  height: 100dvh;
  background-image: url("/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply bg-transparent md:bg-white/50 md:backdrop-blur-3xl  select-none;

    .mobile {
      @apply flex justify-between items-center md:hidden text-white gap-8 z-9999 p-3;

      div {
        @apply flex items-center gap-3;
      }
    }

    .pc {
      @apply items-center md:justify-between gap-5 hidden md:flex p-3 px-5;

      div {
        @apply flex items-center gap-3;
      }
    }

    ul {
      @apply flex items-center gap-5 max-sm:hidden;

      p {
        @apply text-sm cursor-pointer hover:underline transition-all;
      }
    }
  }
}

@layer components {
  .icon {
    @apply p-1 hover:bg-gray-200 rounded hover:cursor-default;
  }

  #welcome {
    @apply text-gray-200 flex flex-col justify-center items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 select-none max-sm:h-screen max-sm:w-full max-sm:px-10;
  }

  #dock {
    @apply absolute bottom-5 left-1/2 -translate-x-1/2 z-50 select-none w-full md:w-auto px-5;

    .dock-container {
      @apply bg-white/20 backdrop-blur-md justify-between rounded-4xl md:rounded-2xl p-2 flex items-end gap-1.5;
    }

    .tooltip {
      @apply !py-1 !px-3 !w-fit !text-center !text-xs !rounded-md !bg-blue-200 !text-blue-900 !shadow-2xl;
    }

    .dock-icon {
      @apply size-full md:size-14 3xl:size-20 cursor-pointer;

      img {
        @apply object-cover object-center;
      }
    }
  }

  #window-controls {
    @apply flex-1 md:flex-none;

    .pc {
      @apply gap-2 hidden md:flex;

      .close {
        @apply size-3.5 rounded-full bg-[#ff6157] cursor-pointer;
      }

      .minimize {
        @apply size-3.5 rounded-full bg-[#ffc030];
      }

      .maximize {
        @apply size-3.5 rounded-full bg-[#2acb42];
      }
    }

    .mobile {
      @apply flex items-center gap-3 md:hidden cursor-pointer;
    }
  }

  #window-header {
    @apply flex items-center justify-between py-8 md:py-3 px-4  rounded-t-lg md:bg-gray-50 md:border-b border-gray-200 select-none text-sm text-gray-400 gap-5;
  }

  #safari {
    @apply w-full h-screen md:h-auto md:w-4xl absolute top-0 left-0 md:top-40 md:left-2/12 bg-white md:shadow-2xl md:drop-shadow-2xl overflow-hidden;

    .search {
      @apply flex items-center gap-3 w-2/3 bg-white border border-gray-300 rounded-lg px-3 py-2;

      input {
        @apply placeholder:text-gray-400;
      }
    }

    .blog {
      @apply bg-white px-4 md:p-10 max-w-3xl mx-auto;

      h2 {
        @apply text-xl font-bold text-pink-600 mb-10;
      }

      .blog-post {
        @apply grid grid-cols-12 space-x-5;

        img {
          @apply size-full rounded-md object-cover;
        }

        .content {
          @apply col-span-10 space-y-3;

          p {
            @apply text-xs text-gray-500;
          }

          h3 {
            @apply font-semibold text-base text-gray-800;
          }

          a {
            @apply text-blue-600 text-xs hover:underline flex items-center gap-3;
          }
        }
      }
    }
  }

  #terminal {
    @apply w-full h-screen md:h-auto md:w-xl absolute top-0 left-0 md:top-32 md:left-1/12 bg-white md:bg-gray-700 md:shadow-2xl md:drop-shadow-2xl overflow-hidden md:text-white;

    h2 {
      @apply font-bold text-sm text-center w-full;
    }

    .techstack {
      @apply text-sm font-roboto p-5;

      .label {
        @apply flex items-center ms-8 mt-7;
      }

      .content {
        @apply py-5 my-5 border-y border-dashed space-y-1;

        li {
          .check {
            @apply text-[#927eff] w-5;
          }

          h3 {
            @apply font-semibold text-[#927eff] w-32 ms-3;
          }

          ul {
            @apply flex items-center gap-3;
          }
        }
      }

      .footnote {
        @apply text-[#12d677] space-y-1;

        p {
          @apply flex items-center;

          svg {
            @apply w-5 me-3;
          }
        }
      }
    }
  }

  #contact {
    @apply w-full md:h-auto md:max-w-2xl absolute top-0 left-0 md:top-60 md:left-5/12 bg-white md:shadow-2xl md:drop-shadow-2xl;

    h2 {
      @apply font-bold text-sm text-center w-full;
    }

    h3 {
      @apply text-xl font-semibold;
    }

    ul {
      @apply flex items-center flex-col md:flex-row gap-3;

      li {
        @apply rounded-lg p-3 w-full md:w-60 hover:-translate-y-0.5 hover:scale-105 origin-center transition-all duration-300;

        a {
          @apply space-y-5;
        }

        p {
          @apply font-semibold text-sm text-white;
        }
      }
    }
  }

  #photos {
    @apply w-full md:max-w-3xl h-screen md:h-auto absolute top-0 left-0 md:top-96 md:left-1/3 md:-translate-y-1/2 bg-white md:shadow-2xl md:drop-shadow-2xl overflow-hidden;

    .sidebar {
      @apply hidden md:flex w-3/12 flex-none bg-gray-50 border-r border-gray-200 flex-col p-5;

      h2 {
        @apply text-xs font-medium text-gray-400 mb-1;
      }

      ul {
        li {
          @apply flex space-y-1 items-center gap-2 px-3 py-2 rounded-md cursor-pointer transition-colors;

          &:first-child {
            @apply bg-blue-100 text-blue-700;
          }

          img {
            @apply w-4;
          }

          p {
            @apply text-sm font-medium;
          }
        }
      }
    }

    .gallery {
      @apply p-5;

      ul {
        @apply grid grid-cols-3 grid-rows-2 gap-2.5;

        li {
          img {
            @apply size-full object-cover rounded-lg;
          }
        }
      }
    }
  }

  #resume {
    @apply w-full md:w-fit h-screen md:h-[550px] absolute top-0 left-0 md:top-16 md:left-6/12 bg-white md:shadow-2xl md:drop-shadow-2xl overflow-hidden;

    #window-header {
      h2 {
        @apply font-bold text-sm text-center flex-1;
      }
    }
  }

  #finder {
    @apply absolute w-full h-screen md:h-auto md:w-3xl top-0 left-0 md:left-40 md:top-20 md:shadow-2xl md:drop-shadow-2xl overflow-hidden bg-white;

    .sidebar {
      @apply hidden w-48 bg-gray-50 border-r border-gray-200 md:flex flex-col p-5 space-y-3;

      h3 {
        @apply text-xs font-medium text-gray-400 mb-1;
      }

      ul {
        @apply space-y-1;

        .active {
          @apply bg-blue-100 text-blue-700;
        }

        .not-active {
          @apply text-gray-700 hover:bg-gray-200;
        }

        li {
          @apply flex items-center gap-2 px-3 py-2 rounded-md cursor-pointer transition-colors;
        }
      }
    }

    .content {
      @apply flex justify-start items-center md:flex-1 md:p-8 bg-white w-full h-full md:h-auto md:max-w-2xl relative;

      li {
        @apply md:absolute flex items-center flex-col gap-3 cursor-pointer;

        img {
          @apply object-contain object-center size-16 relative group-hover:scale-105;
        }

        p {
          @apply text-sm text-center font-medium w-40;
        }
      }
    }
  }

  #txtfile {
    @apply w-full h-screen md:h-auto md:w-md absolute md:top-36 md:right-32 bg-white md:shadow-2xl md:drop-shadow-2xl overflow-hidden;

    h2 {
      @apply font-bold text-sm text-center w-full;
    }
  }

  #imgfile {
    @apply w-full md:w-xl h-screen md:h-auto absolute top-0 left-0 md:top-40 md:left-2/12 bg-white md:shadow-2xl md:drop-shadow-2xl overflow-hidden;

    #window-header {
      p {
        @apply font-bold text-[#5f6266];
      }
    }

    .preview {
      @apply p-2 bg-gray-200 max-h-[70vh];

      img {
        @apply w-full h-fit object-contain object-center;
      }
    }
  }

  #home {
    @apply relative z-0;

    .mobile-icons {
      @apply flex items-center gap-3 md:hidden p-3;
    }

    ul {
      li {
        @apply absolute z-0 select-none flex items-center flex-col;

        img {
          @apply group-hover:bg-gray-950/10 p-1 rounded-md;
        }

        p {
          @apply text-sm text-white text-center px-1 rounded-md group-hover:bg-blue-500 transition-colors max-w-40;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .window-root {
    top: 55px;
  }
}
